<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>著作者页面</title>

    <link href="/css/style.css" rel="stylesheet"/>

    <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <style>
        body{
            background-color: #EFF0F4;
        }
    </style>
</head>

<body>
<div class="container">
    <!-- page heading start-->
    <div class="page-heading">
        <h1 style="color: #49586e;">著作者中心</h1>
        <ul class="breadcrumb">
            <li class="active"></li>
        </ul>
        <div class="state-info">
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <label>总点击量</label>
                        <h3 class="red-txt" th:text="${sumHits}">5,600</h3>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="profile-pic text-center">
                                    <img alt="个人图像" src="/images/user-avatar.png">
                                </div>
                                <div style="height: 50px;"></div>
                                <ul class="p-info">
                                    <li>
                                        <div class="title">姓名</div>
                                        <div class="desk" th:text="${author.nickname}">陈小明</div>
                                    </li>
                                    <li>
                                        <div class="title">性别</div>
                                        <div class="desk" th:text="${author.gender}">男</div>
                                    </li>
                                    <li>
                                        <div class="title">出生年份</div>
                                        <div class="desk" th:text="${author.birthYear}">1970</div>
                                    </li>
                                    <li>
                                        <div class="title">籍贯</div>
                                        <div class="desk" th:text="${author.birthPlace}">广东广州</div>
                                    </li>
                                    <li>
                                        <div class="title">单位</div>
                                        <div class="desk" th:text="${author.company}">华南理工大学</div>
                                    </li>
                                    <li>
                                        <div class="title">职称</div>
                                        <div class="desk" th:text="${author.job}">教授</div>
                                    </li>
                                    <li>
                                        <div class="title">职务</div>
                                        <div class="desk" th:text="${author.duties}">副院长</div>
                                    </li>
                                    <li>
                                        <div class="title">手机号码</div>
                                        <div class="desk" th:text="${author.telephone}">1888888888</div>
                                    </li>
                                    <li>
                                        <div class="title">个人邮箱</div>
                                        <div class="desk" th:text="${author.email}">823382133@qq.com</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- <div class="col-md-4"> -->

            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel">
                            <header class="panel-heading">我的专著</header>
                            <div class="panel-body">
                                <div class="list-group">
                                    <!--<a href="javascript:void(0);" class="list-group-item">
                                        <span class="badge">点击量：1444</span>
                                        <h4 class="list-group-item-heading">著作名</h4>
                                        <p class="list-group-item-text">简短信息</p>
                                    </a>-->

                                    <a href="javascript:void(0);" class="list-group-item"
                                        th:each="treatise,treatiseStat:*{treatises}"
                                        th:name="${treatise.id}"><!-- 保留ID用于查询详情-->
                                        <span class="badge" th:text="'点击量：'+${treatise.hits}">点击量：1444</span>
                                        <h4 class="list-group-item-heading" th:text="${treatise.bookName}">著作名</h4>
                                        <p class="list-group-item-text" th:text="${treatise.description}">简短信息</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--  <div class="col-md-8">  -->

        </div>
    </div>
</div>

<!-- Modal -->
<div id="treatiseModal" class="modal fade bs-example-modal-lg" aria-hidden="true"
     aria-labelledby="treatiseModalLabel" role="dialog" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">著作详情</h4>
            </div>
            <div class="modal-body text-center">
                <table class="table table-bordered table-hover">
                    <tr><td>ISBN</td><td class="isbn">国际标准书号（International Standard Book Number）</td></tr>
                    <tr><td>书名</td><td class="bookName">著作名称</td></tr>
                    <tr><td>作者</td><td class="author">Cherish</td></tr>
                    <tr><td>类别</td><td class="category">计算机科学</td></tr>
                    <tr><td>出版社</td><td class="publishHouse">机械工业出版社</td></tr>
                    <tr><td>出版日期</td><td class="publishDate">2017-04-01</td></tr>
                    <tr><td>页码</td><td class="pageNumber">666</td></tr>
                    <tr><td>语种</td><td class="language">中文</td></tr>
                    <tr><td>版次</td><td class="edition">第二版</td></tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

    <script src="/tools/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script>
        function showModal(treatiseId) {
            $.getJSON("/treatise/"+treatiseId,function(result){
                if (result.success){
                    var treatise = result.data.treatise;
                    var chapters = result.data.chapters;

                    var modal = $("#treatiseModal");
                    $(modal).find('.bookName').text(treatise.bookName);
                    $(modal).find('.isbn').text(treatise.isbn);
                    $(modal).find('.author').text(treatise.author);
                    $(modal).find('.category').text(treatise.category);
                    $(modal).find('.publishHouse').text(treatise.publishHouse);
                    $(modal).find('.publishDate').text(treatise.publishDate);
                    $(modal).find('.pageNumber').text(treatise.pageNumber);
                    $(modal).find('.language').text(treatise.language);
                    $(modal).find('.edition').text(treatise.edition);
                }else {
                    alert(result.message);
                }
            });

            $("#treatiseModal").modal({
                backdrop: true
            });
        }

        $(function () {
            $(".list-group").on("click", "a", function () {
                var treatiseId = $(this).attr("name");
                console.log("treatiseId: ", treatiseId);
                showModal(treatiseId);
            });
        });
    </script>
</body>
</html>
