<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>新增类别</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            新增类别
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="/treatise_category/list">类别管理</a>
            </li>
            <li class="active"> 新增类别 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="treatise_categoryForm"
                                  method="post" th:action="@{/treatise_category/save}" >

                                <div class="form-group">
                                    <label for="pid"
                                           class="control-label col-md-2 col-sm-2">父类别：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id='pid' name='pid' class='form-control'>
                                            <option value="0">该类别为一级类别</option>
                                            <option th:each="p:*{parent}"
                                                    th:value="${p.id}" th:text="${p.classifiedNum} + ' ' + ${p.name}"
                                                    th:attr="selected=${treatiseCategory}?(${p.id} eq ${treatiseCategory.pid})"
                                            ></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="classifiedNum" class="control-label col-md-2 col-sm-2">分类号:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="classifiedNum" name="classifiedNum" class="form-control"
                                               placeholder="分类号" minlength="1" maxlength="16" required autofocus
                                               th:value="${treatiseCategory} ? ${treatiseCategory.classifiedNum}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['classifiedNum']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label col-md-2 col-sm-2">类别名:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="name" name="name" class="form-control"
                                               placeholder="类别名称" minlength="1" maxlength="32" required
                                               th:value="${treatiseCategory} ? ${treatiseCategory.name}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['name']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8 col-sm-8">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                            重置
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        $(function () {
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#treatiseMenu").addClass("nav-active");
            $("#treatise_categoryLi").addClass("active");
        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
