<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>高级检索</title>
    <link href="/web/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/web/css/advanced.css" rel="stylesheet" type="text/css"/>

    <link href="/tools/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>

    <script src="/tools/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="/tools/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="/tools/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/tools/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

</head>
<body>
    <div id="container">
        <div id="hd" class="ue-clear">
            <div class="user-logo2" style="float:right;padding-top: 15px;padding-right: 100px;">
                <a th:if="${#session} ? ${#session.getAttribute('isLogin')}" href="/customer" target="_blank">
                    <span style="color:#4b8dde;font-size: 16px;" th:text="'欢迎您，'+${#session.getAttribute('customerName')}+' '">欢迎您，小明&nbsp;&nbsp;&nbsp;</span>
                    <img src="/web/img/personal.png"/>
                </a>
                <a th:unless="${#session} ? ${#session.getAttribute('isLogin')}" href="/customer" target="_blank">
                    <span style="color:#4b8dde;font-size: 16px;">请登陆&nbsp;&nbsp;&nbsp;</span>
                    <img src="/web/img/personal.png"/>
                </a>
            </div>
            <a href="/"><div class="logo"></div></a>
            <!--<div class="inputArea">-->
            <!--<input type="text" class="searchInput"/>-->
            <!--<input type="button" class="searchButton" value="搜索"/>-->
            <!--<a class="back" href="/">返回主页</a>-->
            <!--</div>-->
        </div>
        <div class="divsion"></div>
        <div id="bd">
            <div id="main">
                <div class="subfield">高级搜索</div>
                <div class="subfieldContent">
                    <form id="form">
                        <!--搜索范围-->
                        <dl class="ue-clear advanceItem">
                            <dd>
                                <label>语种</label>
                                <span>选择要搜索的著作语种</span>
                            </dd>
                            <dt class="fillInArea">
                            <span class="choose">
                                <input name="language" type="radio" checked="checked" value="CHN">
                                <span class="text">中文</span>
                            </span>
                                <span class="choose">
                            <input type="radio" name="language" value="ENG">
                                <span class="text">英文</span>
                            </span>
                                <input type="radio" name="language" value="OTH">
                                <span class="text">其他</span>
                                </span>
                            </dt>
                        </dl>

                        <!--多属性检索-->
                        <dl class="ue-clear advanceItem keyWords">
                            <dd>
                                <label>多属性检索</label>
                                <div class="tips">
                                    <p class="tip"><span class="impInfo">书名:</span></p>
                                    <p class="tip"><span class="impInfo">作者:</span></p>
                                    <p class="tip"><span class="impInfo">出版社:</span></p>
                                </div>
                            </dd>
                            <dt class="fillInArea">
                            <p><input type="text" name="title"/></p>
                            <p><input type="text" id="author"/></p>
                            <p><input type="text" id="publishHouse"/></p>
                            </dt>
                        </dl>

                        <!--著作类别-->
                        <dl class="ue-clear advanceItem part">
                            <dd>
                                <label>著作类别</label>
                                <span>选择要指定的著作类别</span>
                            </dd>
                            <dt class="fillInArea">
                                <select id="parentCat" style="width: 150px;" onchange="appendChildren(this)">
                                    <!--<option>请选择</option>-->
                                    <!--<option>马恩列斯毛邓理论</option>-->
                                    <!--<option>哲学、宗教</option>-->
                                </select>
                                <select id="childCat" name="categoryId" style="width: 250px;" th:value="0">
                                    <!--<option>请选择</option>-->
                                    <!--<option>毛泽东思想</option>-->
                                    <!--<option>邓小平理论</option>-->
                                    <!--<option>三个代表重要思想</option>-->
                                </select>
                            </dt>
                        </dl>

                        <!--年份-->
                        <dl class="ue-clear advanceItem part">
                            <dd>
                                <label>年份</label>
                                <span>选择要指定的出版年份</span>
                            </dd>
                            <dt class="fillInArea">
                                <input class="form_datetime" type="number" name="publishYear" th:value="2017" style="width: 200px">
                            </dt>
                        </dl>
                        <div class="button">
                            <a class="btn btn-primary" href="#" style="margin-left: 20%;margin-top: 60px;" onclick="advance()">立刻搜索</a>
                        </div>
                    </form>
                </div>
            </div><!-- End of main -->
        </div><!--End of bd-->


    </div>
    <div id="foot">Copyright &copy;cafa.com 版权所有</div>
    <script type="text/javascript" src="../static/web/js/global.js"></script>
    <script type="text/javascript">
        $('.defineRadio input[type=radio]').click(function (e) {
            if ($(this).prop('checked')) {
                $('.define').show();
            }
        });
        function advance() {
            var query = $("#form").serialize();
            var q = query.replace(/&/g,"AND").replace(/=/g,":");
            alert(q);
            var type = "advance";
            window.location.href = "/result?q="+q+"&t="+type;
        }
        $('.time input[type=radio]').click(function () {
            if (!$(this).parent().hasClass('defineRadio')) {
                $('.define').hide();
            }
        });

        $('.part input[type=checkbox]:gt(3)').parent().hide();
        $('.part .more').toggle(function (e) {
            $(this).addClass('show').find('.text').text('收起');
            $('.part input[type=checkbox]:gt(3)').parent().show();
        }, function () {
            $(this).removeClass('show').find('.text').text('更多');
            $('.part input[type=checkbox]:gt(3)').parent().hide();
        });

        setHeight();
        $(window).resize(function () {
            setHeight();
        });

        function setHeight() {
            if ($('#container').outerHeight() < $(window).height()) {
                $('#container').height($(window).height() - 33);
            }
        }


        function appendChildren(select) {
            var pid = select.options[select.selectedIndex].value;

            $.getJSON('/treatise_category/' + pid + '/children', function (result) {
                var child = $("#childCat");
                child.empty();
                var selectChild = '';
                $.each(result, function (i, n) {
                    console.log(n);
                    selectChild += "<option value='" + n.id + "'>" + n.classifiedNum + " " + n.name + "</option>";
                });
                child.append(selectChild);
            });
        }
        $(function () {
            $.getJSON('/treatise_category/parent', function (result) {
                var parent = $("#parentCat");
                parent.empty();
                var selectChild = '<option value="0">请选择</option>';
                $.each(result, function (i, n) {
                    console.log(n);
                    selectChild += "<option value='" + n.id + "'>" + n.classifiedNum + " " + n.name + "</option>";
                });
                parent.append(selectChild);
            });

            $('.form_datetime').datetimepicker({
                language: 'zh-CN',
                startView: 'decade',
                minView: 'decade',
                format: 'yyyy',
                endDate: new Date(),
                maxViewMode: 2,
                minViewMode: 2,
                autoclose: true
            });
        });
    </script>
</body>
</html>