<!--
            __   ____  _____   ____
           /  ] /    ||     | /    |
          /  / |  o  ||   __||  o  |
         /  /  |     ||  |_  |     |
        /   \_ |  _  ||   _] |  _  |
        \     ||  |  ||  |   |  |  |
         \____||__|__||__|   |__|__|

                  广东工业大学

    Author: FancyKong Email:823382133@qq.com
    Author: Cherish   Email:785427346@qq.com | Blog:www.caihongwen.cn | GitHub:https://github.com/CherishC
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <title>广东科技著作出版服务平台</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/web/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/web/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/tools/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
    <div id="hd" class="ue-clear">
        <div class="" style="float:right;padding-top: 15px;padding-right: 100px;">
            <a th:if="${#session} ? ${#session.getAttribute('isLogin')}" href="/customer" target="_blank">
                <span style="color:#4b8dde;font-size: 16px;" th:text="'欢迎您，'+${#session.getAttribute('nickname')}">欢迎您，小明</span>
                &nbsp;&nbsp;&nbsp;<img src="/web/img/personal.png"/>
            </a>
            <a th:unless="${#session} ? ${#session.getAttribute('isLogin')}" href="/customer" target="_blank">
                <span style="color:#4b8dde;font-size: 16px;">请登陆</span>
                &nbsp;&nbsp;&nbsp;<img src="/web/img/personal.png"/>
            </a>
        </div>
    </div>
	<div id="bd">
        <div id="main">
        	<h1 class="title">
                <img src="/images/logo.png" width="128px" height="128px" class="logo-img">
            	<div class="logo large"></div>
            </h1>
            <div class="inputArea">
            	<input type="text" id="searchInput" class="searchInput" placeholder="默认为全文关键字检索"/>
                <input type="button" class="searchButton" value="搜索" onclick="search()" />
                <a class="advanced" href="advanced">高级搜索</a>
            </div>
            
        </div><!-- End of main -->
    </div><!--End of bd-->
    
    <div class="foot">
    	<div class="wrap">
            <div class="copyright">Copyright &copy;cafa.com 版权所有</div>
        </div>
    </div>

</div>
</body>
<script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/tools/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/js/ajax.js" type="text/javascript"></script>
<script src="/js/myModal.js" type="text/javascript"></script>
<script type="text/javascript" src="/web/js/global.js"></script>
<p class="msg-block" th:if="${errorMap}">
    <script th:if="${errorMap['msg']}" th:inline="javascript">
        /*<![CDATA[*/
        var msg = [[${errorMap['msg']}]] ;
        $(function () {
            myModalWarning(msg);
        });
        /*]]>*/
    </script>
</p>
<script type="text/javascript">

    // 搜索
    function search(){
        var searchContent = $("#searchInput").val();
        if (null == searchContent || "" == searchContent) {
            myModalWarning("请输入检索内容");
            return;
        }
        window.open("/result?q=" + searchContent,"_self");
    }
    $("body").keypress(function(e) {
        if(e.keyCode == 13) {
            search();
        }
        return;
    });

</script>
</html>