<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:text="${chapter.title}">按章阅读</title>
    <link href="/web/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/web/css/read.css" rel="stylesheet" type="text/css"/>
    <link href="/tools/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
    <div id="hd" class="ue-clear">
        <a href="/"><div class="logo"></div></a>
        <div class="inputArea">
            <input type="text" class="searchInput"/>
            <input type="button" class="searchButton" value="搜索"/>
            <a class="advanced" href="/advanced">高级搜索</a>
        </div>
    </div>
    <div class="nav" style="margin-bottom: 24px;">
        <br/>
    </div>
    <div id="bd" class="ue-clear">
        <div id="main">
            <div class="sideBar">
                <div class="subfield">专著分类</div>
                <ul class="subfieldContext">
                    <li th:each="category:*{categories}">
                        <a th:href="'/result?q='+${category.id}+'&t=pc'"><span class="name" th:text="${category.name}">数据挖掘</span></a>
                    </li>
                    <li class="more">
                        <span class="text">更多</span>
                        <i class="moreIcon"></i>
                    </li>
                </ul>
                <div class="sideBarShowHide">
                    <a href="javascript:void(0);" class="icon"></a>
                </div>
            </div>
            <div class="historyArea">
                <div class="mySearch">
                    <h6>专著阅读热度排行榜</h6>
                    <ul class="historyList">
                        <li th:each="treatise,status:${treatisesTop}">
                            <a th:href="'/'+${treatise.id}+'/detail'" th:text="${treatise.bookName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center">
                <div class="title" th:text="${treatise.bookName}+'&nbsp;&nbsp;-&nbsp;&nbsp;'+${chapter.title}">
                    数据挖掘技术在移动电商推广中的应用
                </div>
                <br>
                <div class="read">
                    <input type="button" value="上一章" class="operator seq-up"/>
                    <input type="button" value="上一页" class="operator page-up"/>
                    <input type="number" style="height: 30px;width: 60px; text-align: center;border-color: #579bf1;" th:value="1" id="curPage"/>
                    <span th:text="'/'+${chapter.page}"></span>
                    &nbsp;
                    <input type="button" value="下一页" class="operator page-down"/>
                    <input type="button" value="下一章" class="operator seq-down" />
                </div>
                <div class="pdf">
                    <iframe th:src="'/pdf/web/viewer.html?file=/treatise/page/'+${treatise.id}+'/1'" width="100%" height="" id="pdf-reader"></iframe>
                </div>

                <div class="read">
                    <input type="button" value="上一页" class="operator page-up"/>
                    <input type="button" value="下一页" class="operator page-down"/>
                </div>
            </div>
        </div><!-- End of main -->
    </div><!--End of bd-->
</div>

<div id="foot">Copyright &copy;cafa.com 版权所有</div>
</body>
<script type="text/javascript" src="/web/js/jquery.js"></script>
<script type="text/javascript" src="/web/js/global.js"></script>
<script type="text/javascript" src="/web/js/pagination.js"></script>
<script type="text/javascript">

    var basePage = [[${basePage}]];
    var curPage = 1;
    var lastSeq = [[${lastSeq}]];
    var curSeq = [[${chapter.seq}]];
    var bound = [[${chapter.page}]];
    $(".page-up").css('background-color','#9f9f9f').attr('disabled','disabled');
    if(curSeq === 1){
        //上一章不可用
        $(".seq-up").css('background-color','#9f9f9f').attr('disabled','disabled');
    }else{
        $(".seq-up").click(function () {
            window.location.href = '/reading/[[${treatise.id}]]/[[${chapter.seq}-1]]';
        });
    }
    if(curSeq === lastSeq){
        //下一章不可用
        $(".seq-down").css('background-color','#9f9f9f').attr('disabled','disabled');
    }else{
        $(".seq-down").click(function () {
            window.location.href = '/reading/[[${treatise.id}]]/[[${chapter.seq}+1]]';
        });
    }
    $("#curPage").change(function () {
        var page = $(this).val();
        if(page < 1) page = 1;
        if(page > bound) page = bound;
        curPage = page;
        $(this).val(page);
        pageChange();
    });
    function pageChange() {
        $(".page-up").css('background-color','#579bf1').removeAttr('disabled');
        $(".page-down").css('background-color','#579bf1').removeAttr('disabled');
        if(curPage <= 1){
            $(".page-up").css('background-color','#9f9f9f').attr('disabled','disabled');
        }
        if(curPage >= [[${chapter.page}]]){
            $(".page-down").css('background-color','#9f9f9f').attr('disabled','disabled');
        }
        var page = parseInt(curPage)+basePage;
        $("#pdf-reader").attr('src','/pdf/web/viewer.html?file=/treatise/page/[[${treatise.id}]]/'+page);
    }
    $(".page-down").click(function () {
        $("#curPage").val(++curPage);
        pageChange();
    });
    $(".page-up").click(function(){
        $("#curPage").val(--curPage);
        pageChange();
    });

    $('.searchList').on('click', '.searchItem', function () {
        $('.searchList .searchItem').removeClass('current');
        $(this).addClass('current');
    });
    document.getElementById("pdf-reader").setAttribute("height",document.documentElement.clientHeight);

    $.each($('.subfieldContext'), function (i, item) {
        $(this).find('li:gt(9)').hide().end().find('li:last').show();
    });

    $('.subfieldContext .more').click(function (e) {
        var $more = $(this).parent('.subfieldContext').find('.more');
        if ($more.hasClass('show')) {

            if ($(this).hasClass('define')) {
                $(this).parent('.subfieldContext').find('.more').removeClass('show').find('.text').text('自定义');
            } else {
                $(this).parent('.subfieldContext').find('.more').removeClass('show').find('.text').text('更多');
            }
            $(this).parent('.subfieldContext').find('li:gt(9)').hide().end().find('li:last').show();
        } else {
            $(this).parent('.subfieldContext').find('.more').addClass('show').find('.text').text('收起');
            $(this).parent('.subfieldContext').find('li:gt(9)').show();
        }

    });

    $('.sideBarShowHide a').click(function (e) {
        if ($('#main').hasClass('sideBarHide')) {
            $('#main').removeClass('sideBarHide');
            $('#container').removeClass('sideBarHide');
        } else {
            $('#main').addClass('sideBarHide');
            $('#container').addClass('sideBarHide');
        }

    });


    setHeight();
    $(window).resize(function () {
        setHeight();
    });

    function setHeight() {
        if ($('#container').outerHeight() < $(window).height()) {
            $('#container').height($(window).height() - 33);
        }
    }
</script>
</html>