<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>更改会员信息</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            更改会员信息
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="/customer/list">会员管理</a>
            </li>
            <li class="active"> 更改会员信息 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="customerForm"
                                  method="post" th:action="@{/customer/update}">

                                <input type="hidden" name="id" th:value="${customer} ? ${customer.id}"/>

                                <div class="form-group">
                                    <label for="nickname" class="control-label col-md-2 col-sm-2">呢称:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="nickname" name="nickname" class="form-control"
                                               placeholder="会员呢称" minlength="1" maxlength="16" required autofocus
                                               th:value="${customer} ? ${customer.nickname}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['nickname']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthYear" class="control-label col-md-2 col-sm-2">出生年:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="number" id="birthYear" name="birthYear" class="form-control"
                                               placeholder="会员出生年份" min="1901" maxlength="2037" required
                                               th:value="${customer} ? ${customer.birthYear}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['birthYear']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthPlace" class="control-label col-md-2 col-sm-2">籍贯:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="birthPlace" name="birthPlace" class="form-control"
                                               placeholder="籍贯/出生地" required
                                               th:value="${customer} ? ${customer.birthPlace}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['birthPlace']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="education" class="control-label col-md-2 col-sm-2">学历:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="education" name="education" class="form-control" >
                                            <option value="DOCTOR" th:attr="selected=(${customer.education} eq 'DOCTOR')">博士</option>
                                            <option value="MASTER" th:attr="selected=(${customer.education} eq 'MASTER')">硕士</option>
                                            <option value="BACHELOR" th:attr="selected=(${customer.education} eq 'BACHELOR')">学士</option>
                                            <option value="OTHER" th:attr="selected=(${customer.education} eq 'OTHER')">其它</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="company" class="control-label col-md-2 col-sm-2">单位:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="company" name="company" class="form-control"
                                               placeholder="单位/工作单位" required
                                               th:value="${customer} ? ${customer.company}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['company']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="job" class="control-label col-md-2 col-sm-2">职称:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="job" name="job" class="form-control" required
                                               th:value="${customer} ? ${customer.job}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['job']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="duties" class="control-label col-md-2 col-sm-2">职务:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="duties" name="duties" class="form-control" required
                                               th:value="${customer} ? ${customer.duties}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['duties']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telephone" class="control-label col-md-2 col-sm-2">手机:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="number" id="telephone" name="telephone" class="form-control"
                                               placeholder="手机号码" minlength="11" maxlength="11" required
                                               th:value="${customer} ? ${customer.telephone}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['telephone']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label col-md-2 col-sm-2">邮箱:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="email" id="email" name="email" class="form-control"
                                               placeholder="个人邮箱（用于找回密码）" required
                                               th:value="${customer} ? ${customer.email}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['email']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="control-label col-md-2 col-sm-2">性别：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="gender" name="gender" class="form-control" >
                                            <option value="男">男</option>
                                            <option value="女" th:attr="selected=(${customer.gender} eq '女')">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="active" class="control-label col-md-2 col-sm-2">状态：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="active" name="active" class="form-control">
                                            <option value="1">激活</option>
                                            <option value="0" th:attr="selected=(${customer.active} eq 0)">冻结</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8 col-sm-8">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                            重置
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        $(function () {
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#userMenu").addClass("nav-active");
            $("#customerLi").addClass("active");
        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
