<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <title>新增专著</title>
    <style>
        .step button {
            width: 200px;
        }

        .inactive {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="/tools/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/tools/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/tools/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>新增专著</h3>
        <ul class="breadcrumb">
            <li><a href="/treatise/list">专著管理</a></li>
            <li class="active"> 新增专著</li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">

                <section id="coreInfoSection" class="panel active">
                    <header class="panel-heading">核心信息录入</header>
                    <div class="panel-body">
                        <div class="box-widget">
                            <div class="widget-head clearfix">
                                <div id="top_tabby" class="block-tabby pull-left"></div>
                            </div>
                            <div class="widget-container">
                                <div class="widget-block">
                                    <div class="widget-content box-padding">
                                        <form id="treatiseForm" class=" form-horizontal left-align form-well"
                                              th:action="@{/treatise/save}" method="post">
                                            <div class="form-group">
                                                <label for="ISBN" class="control-label col-md-2 col-sm-2">ISBN：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="ISBN" name="ISBN" class="form-control"
                                                           placeholder="ISBN" minlength="1" maxlength="32" required autofocus
                                                           th:value="${treatise} ? ${treatise.ISBN}"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="no" class="control-label col-md-2 col-sm-2">编号：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="no" name="no" class="form-control"
                                                           placeholder="编号" minlength="1" maxlength="32" required
                                                           th:value="${treatise} ? ${treatise.no}"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="bookName"
                                                       class="control-label col-md-2 col-sm-2">专著名：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="bookName" name="bookName" class="form-control"
                                                           placeholder="专著名" minlength="1" maxlength="32" required
                                                           th:value="${treatise} ? ${treatise.bookName}"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="authorId" class="control-label col-md-2 col-sm-2">作者：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select id='authorId' name='authorId' class='form-control'>
                                                        <option th:each="author:*{authors}"
                                                                th:value="${author.id}" th:text="${author.nickname}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="language"
                                                       class="control-label col-md-2 col-sm-2">语种：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select id='language' name='language' class='form-control'>
                                                        <option th:each="lang:*{language}"
                                                                th:value="${lang.code}" th:text="${lang.desc}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="publicationMode"
                                                       class="control-label col-md-2 col-sm-2">出版形式：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select id='publicationMode' name='publicationMode' class='form-control'>
                                                        <option th:each="p:*{publicationMode}"
                                                                th:value="${p.code}" th:text="${p.desc}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="category"
                                                       class="control-label col-md-2 col-sm-2">类别：</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="form-control" onchange="appendChildren(this)">
                                                        <option th:each="category:*{categories}"
                                                                th:value="${category.id}" th:text="${category.classifiedNum}+' '+${category.name}"
                                                        ></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select id='category' name='categoryId' class='form-control'>
                                                        <option th:each="category:*{childCategories}"
                                                                th:value="${category.id}" th:text="${category.classifiedNum}+' '+${category.name}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="publishHouse"
                                                       class="control-label col-md-2 col-sm-2">出版社：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="publishHouse" name="publishHouse"
                                                           class="form-control" minlength="1" maxlength="32"
                                                           placeholder="出版社" required/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="publishPlace"
                                                       class="control-label col-md-2 col-sm-2">出版地：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="publishPlace" name="publishPlace"
                                                           class="form-control" minlength="1" maxlength="32"
                                                           placeholder="出版地" required/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="publishDate"
                                                       class="control-label col-md-2 col-sm-2">出版日期：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="publishDate" name="publishDate"
                                                           class="form_datetime form-control"
                                                           placeholder="出版日期" required
                                                           th:value="${treatise} ? ${#dates.format(treatise.publishDate,'yyyy-MM-dd')}
                                                                    : ${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="keywords"
                                                       class="control-label col-md-2 col-sm-2">关键词集合：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="keywords" name="keywords"
                                                           class="form-control" required
                                                           placeholder="多个关键词用';'隔开,如: 数据挖掘;搜索引擎;聚类算法"
                                                           />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="description"
                                                       class="control-label col-md-2 col-sm-2">简介：</label>
                                                <div class="col-md-8 col-sm-8">
                                                        <textarea id="description" name="description"
                                                                  class="form-control"
                                                                  placeholder="简介/描述" required
                                                                  style="height: 150px"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="step" style="text-align: center">
                                    <button class="btn btn-lg btn-success" id="next-0">
                                        保存并下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="chapterSection" class="panel inactive">
                    <header class="panel-heading">目录信息录入
                        <button id="newRow" class="btn btn-info" style="float: right">
                            <i class="fa fa-plus"></i> 添加一章
                        </button>
                    </header>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered text-center" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="text-center">第几章</th>
                                <th class="text-center">章标题</th>
                                <th class="text-center">是否公开</th>
                                <th class="text-center">PDF</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody id="tBody">
                            <tr>
                                <td>
                                    <label>
                                    <input class="text-center" type="number" name="seq" value="1"
                                           min="1" max="99" style="width:60px;" onchange="toggle(this)"/>
                                    </label>
                                    <input type="hidden" value="1" name="modified">
                                </td>
                                <td>
                                    <label>
                                    <input type="text" name="title" onchange="toggle(this)"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                    <select name="privacy" onchange="toggle(this)">
                                        <option value="1" selected="selected">公开</option>
                                        <option value="0">不公开</option>
                                    </select>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="file" id="pdf1" name="pdf" accept="application/pdf" onchange="toggle(this)"/>
                                    </label>
                                </td>
                                <td>
                                    <div class='btn-group btn-group-sm' role='group' aria-label='操作'>
                                        <a href='javascript:void(0);' class='op_delete btn btn-danger'
                                           role='button'>删除</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <!-- table end -->
                        <div class="step" style="text-align: center">
                            <button class="btn btn-lg btn-default" id="prev-1">
                                返回上一步
                            </button>
                            <button class="btn btn-lg btn-success" id="next-1">
                                保存并下一步
                            </button>
                        </div>
                    </div>
                </section>

                <section id="extraInfoSection" class="panel inactive">
                    <header class="panel-heading">补充信息录入</header>
                    <div class="panel-body">
                        <div class="widget-container">
                            <div class="widget-block">
                                <div class="widget-content box-padding">
                                    <form id="extraInfoForm" class=" form-horizontal left-align form-well"
                                          th:action="@{/treatise/extraInfo}" method="post">
                                        <div class="form-group">
                                            <label for="price"
                                                   class="control-label col-md-2 col-sm-2">定价：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="number" id="price" name="price"
                                                       class="form-control" required
                                                       placeholder="定价" min="0"
                                                       />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="pageNumber"
                                                   class="control-label col-md-2 col-sm-2">总页数：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="number" id="pageNumber" name="pageNumber"
                                                       class="form-control" required
                                                       placeholder="总页数" min="0"
                                                       />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="words"
                                                   class="control-label col-md-2 col-sm-2">字数(单位千字)：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="number" id="words" name="words"
                                                       class="form-control" required
                                                       placeholder="字数" min="0"
                                                       />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="impression"
                                                   class="control-label col-md-2 col-sm-2">印次：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="impression" name="impression"
                                                       class="form-control"
                                                       placeholder="印次"
                                                       />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="edition"
                                                   class="control-label col-md-2 col-sm-2">版次：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="edition" name="edition"
                                                       class="form-control"
                                                       placeholder="版次"
                                                       />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bookSize"
                                                   class="control-label col-md-2 col-sm-2">开本：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="bookSize" name="bookSize"
                                                       class="form-control"
                                                       placeholder="开本" minlength="1" maxlength="32"
                                                       />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="referenceBooks"
                                                   class="control-label col-md-2 col-sm-2">参考文献：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="referenceBooks" name="referenceBooks"
                                                          class="form-control"
                                                          placeholder="一行一则参考文献,即每输入一则就按一次回车键" style="height: 200px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="recommends"
                                                   class="control-label col-md-2 col-sm-2">系列丛书：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="series" name="series"
                                                          class="form-control"
                                                          placeholder="一行一则系列丛书,即每输入一则就按一次回车键" style="height: 200px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="recommends"
                                                   class="control-label col-md-2 col-sm-2">推荐书：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="recommends" name="recommends"
                                                          class="form-control"
                                                          placeholder="一行一则推荐书,即每输入一则就按一次回车键" style="height: 200px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="relatedBooks"
                                                   class="control-label col-md-2 col-sm-2">相关著作书目：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="relatedBooks" name="relatedBooks"
                                                          class="form-control"
                                                          placeholder="一行一则相关著作书目,即每输入一则就按一次回车键" style="height: 200px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="introductory"
                                                   class="control-label col-md-2 col-sm-2">序：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="introductory" name="introductory"
                                                          class="form-control"
                                                          placeholder="序" style="height: 150px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="preface"
                                                   class="control-label col-md-2 col-sm-2">前言：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="preface" name="preface"
                                                          class="form-control"
                                                          placeholder="前言" style="height: 150px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exordium"
                                                   class="control-label col-md-2 col-sm-2">绪言：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="exordium" name="exordium"
                                                          class="form-control"
                                                          placeholder="绪言" style="height: 150px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="review"
                                                   class="control-label col-md-2 col-sm-2">书评：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="review" name="review"
                                                          class="form-control"
                                                          placeholder="书评" style="height: 150px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="postscript"
                                                   class="control-label col-md-2 col-sm-2">跋：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="postscript" name="postscript"
                                                          class="form-control"
                                                          placeholder="跋" style="height: 150px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="appendix"
                                                   class="control-label col-md-2 col-sm-2">章外后记：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="appendix" name="appendix"
                                                          class="form-control"
                                                          placeholder="章外后记" style="height: 150px"
                                                          ></textarea>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="step" style="text-align: center">
                                <button class="btn btn-lg btn-default" id="prev-2">
                                    返回上一步
                                </button>
                                <button class="btn btn-lg btn-success" id="persist" >
                                    提交
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="uploadModel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">保存目录信息</h4>
                </div>
                <div class="modal-body" id="uploadModalBody">
                    <h3 id="modal-content">文件上传中,请勿关闭网页!</h3>
                    <div class="progress">
                        <div id="uploadProgress" class="progress-bar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0;min-width: 2em;">
                            0%
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div layout:fragment="javascript">
    <script src="/js/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript">
        var seq = 1;//章节表格的章序号
        var treatiseId = 0;
        var deleted = false;
        function toggle(that) {
            $(that).closest('tr').find("[name='modified']").val("1");
        }
        function appendChildren(select){
            var pid = select.options[select.selectedIndex].value;

            $.getJSON('/treatise/'+pid+'/children',function (result) {
                var child = $("#category");
                child.empty();
                var selectChild = '';
                $.each(result, function (i, n) {
                    console.log(n);
                    selectChild += "<option value='" + n.id + "'>" + n.classifiedNum + " " + n.name + "</option>";
                });
                child.append(selectChild);
            });
        }
        function showModal() {
            $('#uploadModel').modal({backdrop: 'static'});
        }
        /*建立索引*/
        function indexing(progress) {
            $("#modal-content").html("正在为著作建立索引...");
            $.post("/treatise/"+treatiseId+"/saveChapter", function (result) {
                if (result.success) {
                    $("#modal-content").html("文件上传中,请勿关闭网页!");
                    progress.attr('aria-valuenow', "0").css('width', "0%").html("0%");
                    $('#uploadModel').modal('hide');
                    myModalSuccess("章节信息保存成功");
                } else {
                    myModalFail(result.message);
                }
            });
        }
        $(function () {
            $('#treatiseForm').validate({
                rules: {},
                messages: {},
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    error.addClass( "help-block" );
                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                }
            });
            $('#extraInfoForm').validate({
                rules: {},
                messages: {},
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    error.addClass( "help-block" );
                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                }
            });
            //
            $('.form_datetime').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                startView: 2,
                minView: 2
            });
            // 基本的操作
            $("#next-0").click(function () {
                var valid = $("#treatiseForm").valid();// 表单验证
                if (!valid){
                    myModalWarning("存在不符合格式的数据，请更正");
                    return;
                }
                var treatiseData = $("#treatiseForm").serialize();
                console.log("treatiseData: " + treatiseData);
                if(treatiseId !== 0){
                    treatiseData += "&id="+treatiseId;
                    //说明这个是一个修改而不是一个增加
                    $.post("/treatise/update", treatiseData, function (result) {
                        if (result.success) {
                            console.log("result.data: " + result.data);
                            // 隐藏基本信息，显示章节录入
                            $("#chapterSection").removeClass("inactive");
                            $("#coreInfoSection").addClass("inactive");
                        } else {
                            myModalFail(result.message);
                        }
                    });
                }else{
                    $.post("/treatise/saveCore", treatiseData, function (result) {
                        if (result.success) {
                            console.log("result.data: " + result.data);
                            var treatise = result.data;
                            treatiseId = treatise.id;//赋值给全局变量

                            // 隐藏基本信息，显示章节录入
                            $("#chapterSection").removeClass("inactive");
                            $("#coreInfoSection").addClass("inactive");
                        } else {
                            myModalFail(result.message);
                        }
                    });
                }
            });
            $("#prev-1").click(function () {
                $("#coreInfoSection").removeClass("inactive");
                $("#chapterSection").addClass("inactive");
            });
            $("#next-1").click(function () {
                //逐章上传
                var tbody = document.getElementById('tBody');
                var flag = true;
                $.each(tbody.getElementsByTagName('tr'),function (i, thisTr) {
                    console.log(i);
                    var seq = $(thisTr).find("[name='seq']").val();
                    if (seq === null || seq ===""){
                        myModalWarning("第"+(i+1)+"行中，请填写章序号！");
                        flag = false;
                        return false;
                    }
                    var title = $(thisTr).find("[name='title']").val();
                    if (title === null || title ===""){
                        myModalWarning("第"+(i+1)+"行中，请填写章标题！");
                        flag = false;
                        return false;
                    }
                    var privacy = $(thisTr).find("[name='privacy']").val();

                    var pdf = $(thisTr).find("[name='pdf']").val();
                    if (pdf === null || pdf ===""){
                        myModalWarning("第"+(i+1)+"行中，请选择文件！");
                        flag = false;
                        return false;
                    }
                });
                if(!flag){
                    return;
                }
                var length = tbody.getElementsByTagName('tr').length;
                var move = Math.ceil(100/length);
                var now = 0;
                showModal();
                //上传首行，然后回调函数里递归
                uploadRow(now,move,tbody.getElementsByTagName('tr')[0]);
                // 章节隐藏，显示额外信息录入
                $("#extraInfoSection").removeClass("inactive");
                $("#chapterSection").addClass("inactive");
            });
            $("#prev-2").click(function () {
                $("#chapterSection").removeClass("inactive");
                $("#extraInfoSection").addClass("inactive");
            });
            $(".upload-btn").click(function (that) {
                $("#picker-0").click();
            });

            //****** 章节部分操作 ******//
            // 添加新行
            $("#newRow").on("click", function () {
                var tBody = $("#tBody");
                var tr =
                    '<tr>'+
                        '<td>'+
                            '<label>'+
                            '<input class="text-center" type="number" onchange="toggle(this)" name="seq" value="'+(++seq)+'" min="1" max="99" style="width:60px;"/>'+
                            '</label>'+
                            '<input type="hidden" value="1" name="modified" >'+
                        '</td>'+
                        '<td>'+
                            '<label>'+
                            '<input type="text" name="title" onchange="toggle(this)"/>'+
                            '</label>'+
                        '</td>'+
                        '<td>'+
                            '<label>'+
                            '<select name="privacy" onchange="toggle(this)">'+
                                '<option value="1" selected="selected">公开</option>'+
                                '<option value="0">不公开</option>'+
                            '</select>'+
                            '</label>'+
                        '</td>'+
                        '<td>'+
                            '<label>'+
                            '<input type="file" name="pdf" id="pdf'+seq+'" accept="application/pdf" onchange="toggle(this)"/>'+
                            '</label>'+
                        '</td>'+
                        '<td>'+
                            '<div class="btn-group btn-group-sm" role="group" aria-label="操作">'+
                            '<a href="javascript:void(0);" class="op_delete btn btn-danger" role="button">删除</a>'+
                            '</div>'+
                        '</td>'+
                    '</tr>';
                tBody.append(tr);
            });
            function uploadRow(now,move,thisTr) {
                if(thisTr === undefined){
                    return;
                }
                if($(thisTr).find("[name='modified']").val()==="0"){
                    //process move
                    now += move;
                    now = now>=100?100:now;
                    var progress = $("#uploadProgress");
                    progress.attr('aria-valuenow', "" + now);
                    progress.css('width', "" + now + "%");
                    progress.html("" + now + "%");
                    if (now >= 100) {
                        if(!deleted){
                            progress.attr('aria-valuenow', "0").css('width', "0%").html("0%");
                            $('#uploadModel').modal('hide');
                            myModalSuccess("章节信息保存成功");
                        }else{
                            indexing(progress);
                        }
                        return;
                    }
                    uploadRow(now,move,$(thisTr).next()[0]);
                    return;
                }
                var chapter = {};
                var seq = $(thisTr).find("[name='seq']").val();
                var title = $(thisTr).find("[name='title']").val();
                var privacy = $(thisTr).find("[name='privacy']").val();
                var pdf = $(thisTr).find("[name='pdf']").val();
                chapter.seq = seq;
                chapter.title = title;
                chapter.privacy = privacy;
                chapter.treatiseId = treatiseId;// 全局的著作ID
                if($(thisTr).attr('id')){
                    chapter.id = $(thisTr).attr('id');
                }
                var pdfId = $(thisTr).find("[name='pdf']").attr("id");
                console.log("pdfId: "+pdfId);
                // 执行上传
                $.ajaxFileUpload({
                    url: '/chapter/save', //用于文件上传的服务器端请求地址
                    type: 'post',
                    secureuri: false, //一般设置为false
                    fileElementId: pdfId, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                    data : chapter,
                    dataType: 'JSON', //返回值类型
                    success: function (result, status){//服务器成功响应处理函数
                        //console.log("result: " + result);
                        var start = result.indexOf("{");
                        var end = result.lastIndexOf("}") + 1;
                        result = result.substring(start, end);
                        console.log("result: " + result);
                        result = $.parseJSON(result);
                        if (result.success) {
                            /*myModalSuccess(result.message);
                            // 把本行数据不可操作
                            $(thisTr).find("input").each(function () {
                                $(this).attr("disabled", "disabled");
                            });
                            $(thisTr).find(".op_save").remove();*/
                            $(thisTr).attr("id", result.data.id);//赋值章ID，用于删除
                        } else {
                            myModalFail(result.message);
                        }
                        //process move
                        now += move;
                        now = now>=100? 100:now;
                        var progress = $("#uploadProgress");
                        progress.attr('aria-valuenow', "" + now);
                        progress.css('width', "" + now + "%");
                        progress.html("" + now + "%");
                        if (now === 100) {
                            $("#modal-content").html("正在为著作建立索引,请稍候...");
                            $.post("/treatise/"+treatiseId+"/saveChapter", function (result) {
                                if (result.success) {
                                    progress.attr('aria-valuenow', "0").css('width', "0%").html("0%");
                                    $('#uploadModel').modal('hide');
                                    $('[name="modified"]').val(0);
                                    myModalSuccess("章节信息保存成功");
                                } else {
                                    myModalFail(result.message);
                                }
                            });
                        }
                        uploadRow(now,move,$(thisTr).next()[0]);
                    },
                    error: function (data, status,e){//服务器响应失败处理函数
                        console.log(e);
                        myModalFail(e);
                    }
                });
            }

            // 删除该行
            $("#tBody").on("click", ".op_delete", function () {
                var thisTr = $(this).closest('tr');
                var chapterId = $(thisTr).attr("id");
                console.log("chapterId: " + chapterId);
                if (chapterId === null || chapterId === ""){
                    //删除页面中的原有行
                    $(thisTr).remove();
                }else {
                    //向服务器提交删除请求
                    deleted = true;
                    var url = "/chapter/"+chapterId+"/delete";
                    var result = delAjax(url);
                    if(result.success){
                        myModalSuccess(result.message);
                        //删除页面中的原有行
                        $(thisTr).remove();
                    }else{
                        myModalFail(result.message);
                    }
                }
            });

            // 额外信息保存
            $("#persist").click(function () {
                var valid = $("#extraInfoForm").valid();
                if (!valid){
                    myModalWarning("存在不符合格式的数据，请更正");
                    return;
                }
                var extraInfoData = $("#extraInfoForm").serialize();
                extraInfoData += "&id=" + treatiseId;// 附带上著作ID
                console.log("extraInfoData: " + extraInfoData);
                $.post("/treatise/update", extraInfoData, function (result) {
                    if (result.success) {
                        myModalSuccess(result.message);
                        setTimeout(function () {
                            window.location.href ="/treatise";
                        },3000);
                    } else {
                        myModalFail(result.message);
                    }
                });
            });

        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]];
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
