<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>更改专著</title>
    <style>
        .step button {
            width: 200px;
        }
        .inactive {
            display: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            更改专著
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="/treatise/list">专著管理</a>
            </li>
            <li class="active"> 更改专著 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">

                <section id="coreInfoSection" class="panel active">
                    <header class="panel-heading">核心信息修改</header>
                    <div class="panel-body">
                        <div class="box-widget">
                            <div class="widget-head clearfix">
                                <div id="top_tabby" class="block-tabby pull-left"></div>
                            </div>
                            <div class="widget-container">
                                <div class="widget-block">
                                    <div class="widget-content box-padding">
                                        <form id="treatiseForm" class=" form-horizontal left-align form-well"
                                              th:action="@{/treatise/save}" method="post">
                                            <div class="form-group">
                                                <label for="ISBN" class="control-label col-md-2 col-sm-2">ISBN：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="ISBN" name="ISBN" class="form-control"
                                                           placeholder="ISBN" required
                                                           th:value="${treatise} ? ${treatise.ISBN}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['ISBN']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="no" class="control-label col-md-2 col-sm-2">编号：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="no" name="no" class="form-control"
                                                           placeholder="编号" required
                                                           th:value="${treatise} ? ${treatise.no}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['no']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="bookName"
                                                       class="control-label col-md-2 col-sm-2">专著名：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="bookName" name="bookName"
                                                           class="form-control"
                                                           placeholder="专著名" minlength="1" maxlength="32"
                                                           required
                                                           th:value="${treatise} ? ${treatise.bookName}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['bookName']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="author" class="control-label col-md-2 col-sm-2">作者：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select id='author' name='author' class='form-control'>
                                                        <option th:each="author:*{authors}"
                                                                th:value="${author.id}" th:text="${author.nickname}"
                                                                th:attr="selected=${author} ?(${author.id} eq ${treatise.authorId})"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="language"
                                                       class="control-label col-md-2 col-sm-2">语种：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select id='language' name='language' class='form-control'>
                                                        <option th:each="l:*{language}"
                                                                th:value="${l.code}" th:text="${l.desc}"
                                                                th:attr="selected=${l} ?(${l.code} eq ${treatise.language})"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="publicationMode"
                                                       class="control-label col-md-2 col-sm-2">出版形式：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <select id='publicationMode' name='publicationMode' class='form-control'>
                                                        <option th:each="p:*{publicationMode}"
                                                                th:value="${p.code}" th:text="${p.desc}"
                                                                th:attr="selected=${p} ?(${p.code} eq ${treatise.publicationMode})"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="category"
                                                       class="control-label col-md-2 col-sm-2">类别：</label>
                                                <div class="col-md-4 col-sm-4">
                                                    <select class="form-control" onchange="appendChildren(this)">
                                                        <option th:each="category:*{categories}"
                                                                th:value="${category.id}" th:text="${category.classifiedNum}+' '+${category.name}"
                                                                th:attr="selected=${category} ?(${category.id} eq ${thisCategory.pid})"
                                                        ></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <select id='category' name='category' class='form-control' >
                                                        <option th:each="category:*{childCategories}"
                                                                th:value="${category.id}" th:text="${category.classifiedNum}+' '+${category.name}"
                                                                th:attr="selected=${category} ?(${category.id} eq ${thisCategory.id})"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="publishHouse"
                                                       class="control-label col-md-2 col-sm-2">出版社：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="publishHouse" name="publishHouse"
                                                           class="form-control"
                                                           placeholder="出版社" required
                                                           th:value="${treatise} ? ${treatise.publishHouse}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['publishHouse']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="publishPlace"
                                                       class="control-label col-md-2 col-sm-2">出版地：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="publishPlace" name="publishHouse"
                                                           class="form-control"
                                                           placeholder="出版地" required
                                                           th:value="${treatise} ? ${treatise.publishPlace}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['publishPlace']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="publishDate"
                                                       class="control-label col-md-2 col-sm-2">出版日期：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="publishDate" name="publishDate"
                                                           class="form_datetime form-control"
                                                           placeholder="出版日期" required
                                                           th:value="${treatise} ? ${#dates.format(treatise.publishDate,'yyyy-MM-dd')}
                                                                    : ${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['publishDate']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="keywords"
                                                       class="control-label col-md-2 col-sm-2">关键词集合：</label>
                                                <div class="col-md-8 col-sm-8">
                                                    <input type="text" id="keywords" name="keywords"
                                                           class="form-control"
                                                           placeholder="多个关键词用';'隔开,如: 数据挖掘;搜索引擎;聚类算法" required
                                                           th:value="${treatise} ? ${treatise.keywords}"/>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['keywords']}"></label>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="description"
                                                       class="control-label col-md-2 col-sm-2">简介：</label>
                                                <div class="col-md-8 col-sm-8">
                                                        <textarea id="description" name="description"
                                                                  class="form-control"
                                                                  placeholder="简介/描述"
                                                                  style="height: 150px"
                                                                  th:text="${treatise} ? ${treatise.description}"></textarea>
                                                    <p class="help-block">
                                                        <label class="error-label"
                                                               th:text="${errorMap} ? ${errorMap['description']}"></label>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="step" style="text-align: center">
                                    <button class="btn btn-lg btn-success" id="next-0">
                                        保存并下一步
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="chapterSection" class="panel inactive">
                    <header class="panel-heading">目录信息修改
                        <button id="newRow" class="btn btn-info" style="float: right">
                            <i class="fa fa-plus"></i> 添加一章
                        </button>
                    </header>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered text-center" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="text-center">第几章</th>
                                <th class="text-center">章标题</th>
                                <th class="text-center">是否公开</th>
                                <th class="text-center">PDF</th>
                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody id="tBody">
                            <tr th:each="chapter:*{chapters}">
                                <td>
                                    <label>
                                        <input class="text-center" type="number" name="seq" th:value="${chapter.seq}"
                                               min="1" max="99" style="width:60px;"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="title" th:value="${chapter.title}"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <select name="privacy" th:value="${chapter.privacy}">
                                            <option value="1">公开</option>
                                            <option value="0">不公开</option>
                                        </select>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="hidden" name="url" th:value="${chapter.url}"/>
                                        <input type="file" accept="application/pdf" style="display:none;">
                                        <a href="javascript:void(0)" onclick="showFile(this)"><span>您已上传过文件,点击重新上传</span></a>
                                    </label>
                                </td>
                                <td>
                                    <div class='btn-group btn-group-sm' role='group' aria-label='操作'>
                                        <a href='javascript:void(0);' class='op_delete btn btn-danger'
                                           role='button'>删除</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <!-- table end -->
                        <div class="step" style="text-align: center">
                            <button class="btn btn-lg btn-default" id="prev-1">
                                返回上一步
                            </button>
                            <button class="btn btn-lg btn-success" id="next-1">
                                保存并下一步
                            </button>
                        </div>
                    </div>
                </section>

                <section id="extraInfoSection" class="panel inactive">
                    <header class="panel-heading">补充信息修改</header>
                    <div class="panel-body">
                        <div class="widget-container">
                            <div class="widget-block">
                                <div class="widget-content box-padding">
                                    <form id="extraInfoForm" class=" form-horizontal left-align form-well"
                                          th:action="@{/treatise/save}" method="post">
                                        <div class="form-group">
                                            <label for="price"
                                                   class="control-label col-md-2 col-sm-2">定价：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="price" name="price"
                                                       class="form-control"
                                                       placeholder="定价" minlength="1" maxlength="32"
                                                       th:value="${treatise} ? ${treatise.price}"/>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['price']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="pageNumber"
                                                   class="control-label col-md-2 col-sm-2">总页数：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="pageNumber" name="price"
                                                       class="form-control"
                                                       placeholder="总页数" minlength="1" maxlength="32"
                                                       th:value="${treatise} ? ${treatise.pageNumber}"/>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['pageNumber']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="words"
                                                   class="control-label col-md-2 col-sm-2">字数：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="words" name="words"
                                                       class="form-control"
                                                       placeholder="字数" minlength="1" maxlength="32" 
                                                       th:value="${treatise} ? ${treatise.words}"/>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['words']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="impression"
                                                   class="control-label col-md-2 col-sm-2">印次：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="impression" name="impression"
                                                       class="form-control"
                                                       placeholder="印次" minlength="1" maxlength="32" 
                                                       th:value="${treatise} ? ${treatise.impression}"/>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['impression']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="edition"
                                                   class="control-label col-md-2 col-sm-2">版次：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="edition" name="edition"
                                                       class="form-control"
                                                       placeholder="版次" minlength="1" maxlength="32" 
                                                       th:value="${treatise} ? ${treatise.edition}"/>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['edition']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bookSize"
                                                   class="control-label col-md-2 col-sm-2">开本：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <input type="text" id="bookSize" name="bookSize"
                                                       class="form-control"
                                                       placeholder="开本" minlength="1" maxlength="32" 
                                                       th:value="${treatise} ? ${treatise.bookSize}"/>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['bookSize']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="referenceBooks"
                                                   class="control-label col-md-2 col-sm-2">参考文献：</label>
                                            <div class="col-md-8 col-sm-8">
                                                        <textarea id="referenceBooks" name="referenceBooks"
                                                                  class="form-control"
                                                                  placeholder="一行一则参考文献,即每输入一则就按一次回车键" style="height: 200px"
                                                                  th:text="${treatise} ? ${treatise.referenceBooks}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['referenceBooks']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="recommends"
                                                   class="control-label col-md-2 col-sm-2">系列丛书：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="series" name="series"
                                                          class="form-control"
                                                          placeholder="一行一则系列丛书,即每输入一则就按一次回车键" style="height: 200px"
                                                          th:text="${treatise} ? ${treatise.series}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['series']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="recommends"
                                                   class="control-label col-md-2 col-sm-2">推荐书：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="recommends" name="recommends"
                                                          class="form-control"
                                                          placeholder="一行一则推荐书,即每输入一则就按一次回车键" style="height: 200px"
                                                          th:text="${treatise} ? ${treatise.recommends}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['recommends']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="relatedBooks"
                                                   class="control-label col-md-2 col-sm-2">相关著作书目：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="relatedBooks" name="relatedBooks"
                                                          class="form-control"
                                                          placeholder="一行一则相关著作书目,即每输入一则就按一次回车键" style="height: 200px"
                                                          th:text="${treatise} ? ${treatise.relatedBooks}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['relatedBooks']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="introductory"
                                                   class="control-label col-md-2 col-sm-2">序：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="introductory" name="introductory"
                                                          class="form-control"
                                                          placeholder="序" style="height: 150px"
                                                          th:text="${treatise} ? ${treatise.introductory}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['introductory']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="preface"
                                                   class="control-label col-md-2 col-sm-2">前言：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="preface" name="preface"
                                                          class="form-control"
                                                          placeholder="前言" style="height: 150px"
                                                          th:text="${treatise} ? ${treatise.preface}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['preface']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exordium"
                                                   class="control-label col-md-2 col-sm-2">绪言：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="exordium" name="exordium"
                                                          class="form-control"
                                                          placeholder="绪言" style="height: 150px"
                                                          th:text="${treatise} ? ${treatise.exordium}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['exordium']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="review"
                                                   class="control-label col-md-2 col-sm-2">书评：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="review" name="review"
                                                          class="form-control"
                                                          placeholder="书评" style="height: 150px"
                                                          th:text="${treatise} ? ${treatise.review}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['review']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="postscript"
                                                   class="control-label col-md-2 col-sm-2">跋：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="postscript" name="description"
                                                          class="form-control"
                                                          placeholder="跋" style="height: 150px"
                                                          th:text="${treatise} ? ${treatise.postscript}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['postscript']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="appendix"
                                                   class="control-label col-md-2 col-sm-2">章外后记：</label>
                                            <div class="col-md-8 col-sm-8">
                                                <textarea id="appendix" name="appendix"
                                                          class="form-control"
                                                          placeholder="章外后记" style="height: 150px"
                                                          th:text="${treatise} ? ${treatise.appendix}"></textarea>
                                                <p class="help-block">
                                                    <label class="error-label"
                                                           th:text="${errorMap} ? ${errorMap['appendix']}"></label>
                                                </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="step" style="text-align: center">
                                <button class="btn btn-lg btn-default" id="prev-2">
                                    返回上一步
                                </button>
                                <button class="btn btn-lg btn-success" id="persist" >
                                    提交
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="uploadModel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">保存目录信息</h4>
                </div>
                <div class="modal-body" id="uploadModalBody">
                    <h3>文件上传中,请勿关闭网页!</h3>
                    <div class="progress">
                        <div id="uploadProgress" class="progress-bar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0;min-width: 2em;">
                            0%
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        function showFile(that) {
            $(that).attr('class','inactive');
            $(that).prev().css({
                "display":"inline-block"
            })
        }
        function appendChildren(select){
            var pid = select.options[select.selectedIndex].value;

            $.getJSON('/treatise/'+pid+'/children',function (result) {
                var child = $("#category");
                child.empty();
                var selectChild = '';
                $.each(result,function (i, n) {
                    console.log(n);
                    selectChild += "<option value='"+n.id+"'>"+n.classifiedNum+" "+n.name+"</option>";
                })
                child.append(selectChild);
            });

        }
        function showModal() {
            $('#uploadModel').modal({backdrop: 'static'});
            var now = 0;
            var interval = setInterval(function () {
                now += 10;
                var progress = $("#uploadProgress");
                progress.attr('aria-valuenow', "" + now);
                progress.css('width', "" + now + "%");
                progress.html("" + now + "%");
                if (now === 100) {
                    progress.attr('aria-valuenow', "0").css('width', "0%").html("0%");
                    $('#uploadModel').modal('hide');
                    clearInterval(interval);
                    myModalSuccess("章节信息保存成功");
                }
            }, 1000);
        }
        $("#next-0").click(function () {
            $("#chapterSection").removeClass("inactive");
            $("#coreInfoSection").addClass("inactive");
        });
        $("#prev-1").click(function () {
            $("#coreInfoSection").removeClass("inactive");
            $("#chapterSection").addClass("inactive");
        });
        $("#next-1").click(function () {
            showModal();
            $("#extraInfoSection").removeClass("inactive");
            $("#chapterSection").addClass("inactive");
        });
        $("#prev-2").click(function () {
            $("#chapterSection").removeClass("inactive");
            $("#extraInfoSection").addClass("inactive");
        });
        $(".upload-btn").click(function (that) {
            $("#picker-0").click();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            //timepicker
            $('.form_datetime').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                startView: 2,
                minView: 2
            });
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#treatiseMenu").addClass("nav-active");
            $("#treatiseLi").addClass("active");

        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
