<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>更改专著</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            更改专著
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="/treatise">专著管理</a>
            </li>
            <li class="active"> 更改专著 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="treatiseForm"
                                  method="post" th:action="@{/treatise/update}">

                                <input type="hidden" name="id" th:value="${treatise} ? ${treatise.id}"/>

                                <div class="form-group">
                                    <label for="bookName" class="control-label col-md-2 col-sm-2">专著名：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="bookName" name="bookName" class="form-control"
                                               placeholder="专著名" minlength="1" maxlength="32" autofocus required
                                               th:value="${treatise} ? ${treatise.bookName}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['bookName']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ISBN" class="control-label col-md-2 col-sm-2">ISBN：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="ISBN" name="ISBN" class="form-control"
                                               placeholder="ISBN"  required
                                               th:value="${treatise} ? ${treatise.ISBN}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['ISBN']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="author" class="control-label col-md-2 col-sm-2">作者：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="author" name="author" class="form-control"
                                               placeholder="作者" minlength="1" maxlength="32" required
                                               th:value="${treatise} ? ${treatise.author}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['author']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="category" class="control-label col-md-2 col-sm-2">类别：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="category" name="category" class="form-control">
                                            <option th:each="category:*{categories}"
                                                    th:value="${category.id}" th:text="${category.name}"
                                                    th:attr="selected=(${category.id} eq ${treatise.category})"
                                            ></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="publishHouse" class="control-label col-md-2 col-sm-2">出版社:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="publishHouse" name="publishHouse" class="form-control"
                                               placeholder="出版社" required
                                               th:value="${treatise} ? ${treatise.publishHouse}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['publishHouse']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="publishDate" class="control-label col-md-2 col-sm-2">出版日期：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="publishDate" name="publishDate" class="form-control"
                                               placeholder="出版日期" data-mask="9999-99-99" required
                                               th:value="${treatise} ? ${#dates.format(treatise.publishDate,'yyyy-MM-dd')}
                                                                    : ${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"/>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['publishDate']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="pdf-file" class="control-label col-md-2 col-sm-2">PDF-文件：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="file" id="pdf-file"  class="form-control" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description" class="control-label col-md-2 col-sm-2">描述:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <textarea id="description" name="description" class="form-control"
                                                  placeholder="描述/备注" maxlength="1024"
                                               th:text="${treatise} ? ${treatise.description}">
                                        </textarea>
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['description']}"></label>
                                        </p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8 col-sm-8">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                            重置
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        $(function () {
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#treatiseMenu").addClass("nav-active");
            $("#treatiseLi").addClass("active");

        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
