<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>手动添加著作者</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            添加著作者
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="/author/list">著作者管理</a>
            </li>
            <li class="active"> 新增著作者 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="authorForm"
                                  method="post" th:action="@{/author/save}" >

                                <div class="form-group">
                                    <label for="nickname" class="control-label col-md-2 col-sm-2">姓名:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="nickname" name="nickname" class="form-control"
                                               placeholder="著作者姓名" minlength="1" maxlength="16" required autofocus
                                               th:value="${author} ? ${author.nickname}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['nickname']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthYear" class="control-label col-md-2 col-sm-2">出生年:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="number" id="birthYear" name="birthYear" class="form-control"
                                               placeholder="著作者出生年份" min="1901" maxlength="2037" required
                                               th:value="${author} ? ${author.birthYear}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['birthYear']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="birthPlace" class="control-label col-md-2 col-sm-2">籍贯:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="birthPlace" name="birthPlace" class="form-control"
                                               placeholder="籍贯/出生地" required
                                               th:value="${author} ? ${author.birthPlace}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['birthPlace']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="education" class="control-label col-md-2 col-sm-2">学历:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="education" name="education" class="form-control"
                                                th:value="${author} ? ${author.education}">
                                            <option value="DOCTOR">博士</option>
                                            <option value="MASTER">硕士</option>
                                            <option value="BACHELOR">学士</option>
                                            <option value="OTHER">其它</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="company" class="control-label col-md-2 col-sm-2">单位:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="company" name="company" class="form-control"
                                               placeholder="单位/工作单位" required
                                               th:value="${author} ? ${author.company}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['company']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="job" class="control-label col-md-2 col-sm-2">职称:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="job" name="job" class="form-control" required
                                               th:value="${author} ? ${author.job}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['job']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="duties" class="control-label col-md-2 col-sm-2">职务:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="duties" name="duties" class="form-control" required
                                               th:value="${author} ? ${author.duties}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['duties']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telephone" class="control-label col-md-2 col-sm-2">手机:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="number" id="telephone" name="telephone" class="form-control"
                                               placeholder="手机号码" minlength="11" maxlength="11" required
                                               th:value="${author} ? ${author.telephone}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['telephone']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label col-md-2 col-sm-2">邮箱:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="email" id="email" name="email" class="form-control"
                                               placeholder="个人邮箱（用于找回密码）" required
                                               th:value="${author} ? ${author.email}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['email']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="control-label col-md-2 col-sm-2">账号:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="username" name="username" class="form-control"
                                               placeholder="登陆账号" minlength="6" maxlength="16" required
                                               th:value="${author} ? ${author.username}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['username']}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label col-md-2 col-sm-2">密码:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="password" name="password" class="form-control"
                                               placeholder="登陆密码" minlength="6" maxlength="16" required
                                               th:value="${author} ? ${author.password}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['password']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="gender" class="control-label col-md-2 col-sm-2">性别：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="gender" name="gender" class="form-control"
                                                th:value="${author} ? ${author.gender}">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="active" class="control-label col-md-2 col-sm-2">状态：</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="active" name="active" class="form-control"
                                                th:value="${author} ? ${author.active}">
                                            <option value="1">激活</option>
                                            <option value="0">冻结</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8 col-sm-8">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                            重置
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        // 手机号码验证
        $.validator.addMethod("isMobile", function(value, element, params) {
            var length = value.length;
            var mobile = /^[1][34578][0-9]{9}$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");

        $(function () {
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#userMenu").addClass("nav-active");
            $("#authorLi").addClass("active");

            $('#authorForm').validate({
                rules: {
                    telephone : {
                        required : true,
                        isMobile : true
                    }
                },
                messages: {
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    error.addClass( "help-block" );
                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                }
            });
        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
